## Coding Exercise #0202

### 1. NumPy array operations:

#### 1.1. '+' and '*' operators for Python lists:

In [ ]:
import numpy as np

In [ ]:
a = [1, 2, 3]

In [ ]:
a + a

In [ ]:
a*3

In [ ]:
b = np.array([1, 2, 3])

In [ ]:
b*3

In [ ]:
b + b

In [ ]:
np.repeat(b, 3)

In [ ]:
np.tile(b,3)

#### 1.2. '+' and '*' operators for NumPy arrays:

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

In [ ]:
a+b

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
1.0*a/b

#### 1.3. Universal functions:

In [ ]:
x = np.array([0, 1, 2, 3, 4, 5])

In [ ]:
np.sqrt(x)

In [ ]:
np.exp(x)

In [ ]:
type(np.sqrt)

In [ ]:
type(np.exp)

#### 1.4. NumPy functions:

In [ ]:
# np.random.seed(123)
a = np.random.randint(1, 11, size=1000)
# print(a)

In [ ]:
print(np.unique(a))
print(np.unique(a).size)

In [ ]:
np.median(a)

In [ ]:
np.sum(a)

In [ ]:
print(np.var(a))
print(np.round(np.var(a),2))

In [ ]:
np.round(np.mean(a),2)

In [ ]:
np.round(np.std(a),2)

In [ ]:
np.max(a)

In [ ]:
np.min(a)

#### 1.5. Statistical methods of NumPy arrays:

In [ ]:
x=np.arange(1,11)
print(x)

In [ ]:
x.sum()

In [ ]:
x.mean()

In [ ]:
x.std()

In [ ]:
x.var()

In [ ]:
x.cumsum()

In [ ]:
y = np.arange(1,10)
print(y, "\n")
y = y.reshape((3,-1))
print(y)

In [ ]:
print(y.mean(axis=0))

In [ ]:
print(y.mean(axis=1))

In [ ]:
z = np.random.randint(10,size=1000)

In [ ]:
z.max()

In [ ]:
z.min()

In [94]:
print((z > 5).sum())
print(type(z > 5))
# print(z > 5)      # This is a mask matrix

414
<class 'numpy.ndarray'>
[False  True False  True False  True False False  True  True  True False
 False False  True False False  True False False False False False  True
 False False  True  True False False False  True  True  True False False
 False  True False False  True False False  True  True False False False
  True False False False False False  True False False  True  True False
 False False False  True  True  True False False False False  True  True
  True  True  True  True False False False  True False False False  True
 False False  True False  True False  True False  True False  True  True
  True False  True False False  True False False False  True False False
 False  True False False False False False  True False False  True False
 False  True False False  True False False False False  True  True False
 False False False  True False False False  True False  True  True  True
 False  True False  True False False False False False False  True False
  True False False  True False False  True  True False  True False  True
 False False False False  True  True  True False False False False False
  True False False False False False False  True  True  True  True False
 False False False  True  True  True False  True  True False False  True
 False False False False  True False  True False False  True False False
  True False False  True  True False False  True False False False False
  True  True  True  True False False False  True False False  True  True
  True  True False False  True  True False  True False  True  True  True
 False False False False False False  True False  True False  True False
 False False False False False  True False  True False  True False  True
  True False False False  True False False False False False False False
 False  True  True False  True  True False False  True False  True False
 False False False  True False False False False  True False False  True
 False  True False False  True False False  True  True False False  True
 False  True  True False  True False False  True  True False  True False
  True  True  True False  True False False False  True  True  True  True
 False  True False False False False False  True False False False  True
 False False  True  True False  True False  True  True False  True  True
 False False False False False  True  True False False  True False  True
 False False False  True  True  True False  True  True  True False  True
 False  True False False False False  True False False False False False
 False False False  True  True False False False  True False False  True
 False False  True False  True  True False  True False False False  True
 False False  True  True False  True  True False  True  True  True  True
 False False False False  True False  True False  True  True False False
 False  True False  True  True False  True  True False False False False
 False  True False False False  True  True  True False False  True False
  True  True False False  True False  True  True  True False False  True
 False False False False False False  True False False  True False False
 False False False  True  True False False  True  True False  True False
 False  True  True  True False  True False  True False False False False
 False  True False False  True False False False  True  True False False
 False  True  True  True False False  True  True False  True False  True
 False False False False False  True  True False False  True False False
 False False  True  True  True False False  True  True False False  True
 False  True False  True False  True False  True False False  True False
 False False  True False  True False  True False False False  True  True
  True False  True  True False False False  True  True  True  True False
 False False False  True False False False  True  True False False  True
  True False  True  True False False  True  True  True False  True  True
 False False  True  True  True False  True False False False False  True
 False  True False False  True  True False False  True False False  True
  True False  True False False False False False False False False False
 False  True False  True  True False  True False False  True  True  True
 False False  True False False  True False False  True  True  True  True
 False  True  True False False False False  True False False  True  True
  True False  True  True False False  True False  True False  True False
  True  True False  True False False  True False  True False False False
 False False  True False False False False False  True False False  True
  True  True  True  True False  True  True False False  True False False
  True False  True False False False  True False False False False False
  True False False False False False False  True  True  True  True  True
  True  True False False False False  True False  True False False False
  True False False False  True False False  True  True  True  True False
  True False  True False False False False  True False False  True  True
 False False  True  True  True False  True  True False False  True  True
  True False  True  True  True False False False  True False  True  True
 False  True False  True False False False  True False  True  True False
  True  True False  True False  True False False  True False False False
 False False False False  True False False False  True  True False False
  True  True False  True  True False False False  True  True False False
  True  True False  True False  True False False False  True  True False
  True False  True False False False  True False  True False  True  True
  True False False False False False  True False False  True False False
 False  True  True  True False  True False False False False False False
  True False False False  True  True False  True False False False False
 False  True  True False False False  True  True False False  True  True
 False False False False  True False False  True False False  True False
  True False False False False False  True False False  True False  True
  True  True  True  True  True False False False  True  True False  True
  True  True  True False]

In [ ]:
np.unique(z)

In [ ]:
print(set(z))
sorted(set(z))

In [ ]:
a = np.array([2,-3,4,5,7,0,1,-1])
print(a)

In [ ]:
a.argmax()    # Returns the indices of the maximum values along an axis.

In [ ]:
a.argmin()    # Returns the indices of the minimum values along an axis.