## Coding Exercise #0204

### 1. Pandas Series:

In [ ]:
import pandas as pd
import numpy as np

#### 1.1. Creating Series objects:

In [ ]:
my_index = ['a','b','c']
type(my_index)

In [ ]:
my_index = ['a','b','c']
print("my_index : ", my_index,"\n")

my_values = [222,333,444]
print("my_values : ", my_values,"\n")

my_dict = {'a':222, 'b':333, 'c':444}
print("my_dict : ", my_dict,"\n")

my_arr = np.array(my_values)
print("my_arr : ", my_arr,"\n")

In [ ]:
# Series with values.
pd.Series(my_values)

In [ ]:
# Series with values and index labels.
pd.Series(data=my_values, index=my_index)

In [ ]:
# Series from a NumPy array.
pd.Series(my_arr)

In [ ]:
# Series from a NumPy array with index labels.
pd.Series(my_arr, index=my_index)

In [ ]:
# Series from a dictionary.
pd.Series(my_dict)

#### 1.2. Series attributes and indexing:

In [ ]:
s = pd.Series(data=[111,222,"333",444], index = ['a','b','c','d'], name='MySeries')
s

Series attributes:

In [ ]:
s.index                                   # Index labels.

In [ ]:
s.name                                    # Name attribute.

In [ ]:
s.dtype                                   # Data type.

In [ ]:
type(s[1])

In [ ]:
type(s[2])

In [ ]:
s.astype(int)       # Enables us to set or convert the data type of an existing data column in a dataset or a data frame.

In [ ]:
s.values                                  # The values as NumPy array.

Series indexing and slicing:

In [ ]:
s[1]

In [ ]:
s['a']

In [ ]:
s[2:4]

In [ ]:
s[2:10]       # Be careful that this does not give an error

In [ ]:
s[['a','d']]

#### 1.3. Series operations:

In [ ]:
s1 = pd.Series(data=[1,2,3,4], index = ['d','b','c','a'])
s2 = pd.Series(data=[1,2,3,4], index = ['a','b','d','e'])

print(s1, "\n")
print(s2)

Please notice that in the Series to Series operations, the elements are matched by the index labels. <br>
When there is no mathing index label, we get **NaN**.

In [ ]:
s1 + s2

In [ ]:
s1 - s2

In [ ]:
s1 * s2

In [ ]:
s1/s2

In [ ]:
2*s1

#### 1.4. Series methods:

In [ ]:
s1.sum()

In [ ]:
s1.mean()

In [ ]:
s1.median()

In [ ]:
s1.max()

In [ ]:
s1.std()

In [ ]:
print(s1)
print(s1.sort_values())

In [ ]:
print(s2)
s2.sort_values()

In [ ]:
print(s1)
s1.sort_index()

In [ ]:
print(s1)
s1.sort_values(ascending=False)

apply() method:

In [ ]:
ser_height = pd.Series([165.3, 170.1, 175.0, 182.1, 168.0, 162.0, 155.2, 176.9, 178.5, 176.1, 167.1, 180.0, 162.2, 176.1, 158.2, 168.6, 169.2],
                       name='height')
print(ser_height)

In [ ]:
ser_height.apply(lambda x: x/100)     # Convert cm to m

In [ ]:
ser_height.nunique()			# Number of unique values in the Series.

In [ ]:
ser_height.unique()			# Unique values of the Series given as a NumPy array

In [ ]:
ser_height.value_counts()		# Returns a frequency table.