<a href="https://colab.research.google.com/github/tn-220/SIC-Machine-Learning/blob/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_03_Coding_Exercises/ex_0205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coding Exercise #0205

### 1. Pandas DataFrame basics:

In [ ]:
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a new DataFrame:

From a dictionary:

In [ ]:
data = { 'NAME' : ['Jake', 'Jennifer', 'Paul', 'Andrew'], 'AGE': [24,21,25,19], 'GENDER':['M','F','M','M']}
df = pd.DataFrame(data)
print(df, "\n")
print(df["AGE"], "\n")
print(df[["NAME", "AGE"]], "\n")
print(df["NAME"][0:2], "\n")

print("df is a ", type(df), "\n")
print("df['AGE'] is a ", type(df["AGE"]), "\n")
print('df[["NAME", "AGE"]] is a ', type(df[["NAME", "AGE"]]), "\n")
print('df["NAME"][0:2] is a ', type(df["NAME"][0:2]))

From a NumPy array:

In [ ]:
df = pd.Series(data)
print(df, "\n", type(df), "\n")
print(df["AGE"], "\n")
print(df[1], "\n")

In [ ]:
# print(np.random.rand(10,5))
df = pd.DataFrame(np.random.rand(10,5), columns=['A','B','C','D','E'])
df.head(5)

#### 1.2. Reading data into a DataFrame:

In [ ]:
!wget --no-clobber https://raw.githubusercontent.com/tn-220/SIC-Machine-Learning/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_03_Coding_Exercises/data_studentlist.csv

In [ ]:
"""
    Row number(s) to use as the column names, and the start of the data. 
    Default behavior is to infer the column names: if no names are passed the behavior is identical to header=0 
    and column names are inferred from the first line of the file, 
    if column names are passed explicitly then the behavior is identical to header=None.
"""
df1 = pd.read_csv('data_studentlist.csv', header=None)
print(df1.head(3), '\n')
# 
df = pd.read_csv('data_studentlist.csv', header='infer')
print(df.head(3))

Check for some of the DataFrame attributes:

In [ ]:
print(df1.shape)
print(df.shape)

In [ ]:
print(df1.size)   # 18x8
print(df.size)    # 17x8

In [ ]:
print(df1.ndim)
print(df.ndim)

In [ ]:
df.columns

In [ ]:
print(df.index)
print(type(df.index))

In [ ]:
type(df)

Summarize the DataFrame:

In [ ]:
df.info()

In [ ]:
df2 = df.describe()
df2.head(3)
df2.age
df2['age']
df2

Show the head and tail parts:

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

Replacing the 'columns' (header):

In [ ]:
header = df.columns
header

In [ ]:
df.columns = ['NAME', 'GENDER' , 'AGE', 'GRADE', 'ABSENCE', 'BLOODTYPE', 'HEIGHT', 'WEIGHT']
df.head(3)

#### 1.3. Indexing and slicing DataFrames:

In [ ]:
# A column.
df.NAME

In [ ]:
# This is in fact a Series:
type(df.NAME)     # This can be confusing with a python method. For example if instead of NAME we had mean
                  # Or if we have a "." in between

In [ ]:
# This is also a Series:
print(df['NAME'])
print(type(df['NAME']))

In [ ]:
# However, this is a DataFrame with one column, not a Series:
#print(type(df[['NAME']]))
df[['NAME']]

In [ ]:
df[['NAME', 'GENDER']]

In [ ]:
# Another way of getting a columns as Series:
print(type(df.loc[:,'NAME']))
df.loc[:,'NAME']      # First elements is rows and second is the columns

In [ ]:
print(type(df.loc[2:8,['NAME','GENDER']]))
print(type(df.loc[2:8,'NAME']))
print(type(df.loc[2:8,['NAME']]))
df.loc[2:8,['NAME','GENDER']]

In [ ]:
"""
  loc gets rows (and/or columns) with particular labels. 
  iloc gets rows (and/or columns) at integer locations.
"""
df.iloc[2:8,[0,1]]        # to avoid confusion use loc instead of iloc

In [ ]:
df.loc[:,(header =='NAME') | (header == 'GENDER')]

In [ ]:
# This is a row.
print(df.loc[2:4], '\n','\n')
print(df.loc[2], '\n','\n')
print(pd.DataFrame(df.loc[2]).T, '\n')
print(df.loc[2:2])          # 2:2 For loc the second value is included and for iloc the second value is excluded
print(type(df.loc[2]))

In [ ]:
df.loc[2:4]

In [ ]:
df.iloc[2:4]

In [ ]:
df.drop(columns=['NAME','GENDER']).head(4)          # This is just a view.
                                                    # On of the reason to drop a variable happens when the variable has no effect on the model
                                                    # for example if the model predicts the level of education of users, blood type has no effect on it

#df.drop(columns=['NAME','GENDER'],inplace=True)    # => To remove permanently.

In [ ]:
df.loc[:, (header!='NAME') & (header!='GENDER')]

Conditional slicing:

In [ ]:
# Males only.
df[df.GENDER == 'M']

In [ ]:
df["GENDER"] == 'M'   # or df.GENDER == "M"

In [ ]:
df[df.GENDER != 'M']

In [ ]:
# Only non-males.
df[-(df.GENDER == 'M')]   # - converts 0 to 1 and 1 to 0
                          # This will return the missing values also (not necessary the F only)

In [ ]:
df[~(df.GENDER == 'M')]

In [ ]:
df.GENDER == 'M'        # It is a series with true and false that can be used as a Mask

In [ ]:
mask = (df.GENDER == 'M')
df[mask]

In [ ]:
df[df.GENDER == 'F']

In [ ]:
df[df.HEIGHT > 170]

In [ ]:
df[ (df.WEIGHT > 70) & (df.WEIGHT < 80)]

In [ ]:
df[(df.GENDER == 'M') & (df.HEIGHT > 175)]

In [ ]:
# Opposite criteria to the previous one.
print(type(-((df.GENDER == 'M') & (df.HEIGHT > 175))))
df[-((df.GENDER == 'M') & (df.HEIGHT > 175))]

In [ ]:
mask1 = df.GENDER == 'M' 
mask2 = df.HEIGHT > 175
print(df[mask1 & mask2])

#### 1.4. File reading and writing:

Read and write in the CSV format:

In [ ]:
df2 = df.drop(columns=['GRADE','ABSENCE'])
df2.to_csv('data_mine.csv',index=False)

In [ ]:
df3 = pd.read_csv('data_mine.csv',encoding='latin1',header='infer')

In [ ]:
df3.head(3)

Read and write as a Excel document:

In [ ]:
!wget --no-clobber https://github.com/tn-220/SIC-Machine-Learning/raw/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_03_Coding_Exercises/data_studentlist.xlsx

In [ ]:
dfx = pd.read_excel('/content/data_studentlist.xlsx')

In [ ]:
dfx.head(5)

In [ ]:
dfx.to_excel('data_studentlist2.xlsx',sheet_name='NewSheet', index=False)