<a href="https://colab.research.google.com/github/tn-220/SIC-Machine-Learning/blob/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_04_Coding_Exercises/ex_0308.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coding Exercise #0308

###  1. Hypothesis Test of the Means:

#### 1.1. One sample t-test:

In [ ]:
import numpy as np
import scipy.stats as st

In [ ]:
# Simulate one sample x with Normal distribution.
# mu = 3, sigma = 2, n = 10.
n = 10
mu = 3
sigma = 2
np.random.seed(1234)
x = np.random.randn(n)*sigma + mu
print(x)

**Two tail test:**

In [ ]:
# Using the ttest_1samp() function from the SciPy library.
# Compare the mean with 0.
mu_0 = 0
st.ttest_1samp(x, mu_0)       # Calculate the T-test for the mean of ONE group of scores.

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 0.
mu_0 = 0
x_mean = x.mean()                                      # Sample mean.
SEM = x.std(ddof=1)/np.sqrt(n)                         # standard error of the mean (SEM) 
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))*2
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 1.
mu_0 = 1
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))*2         # Use the same x_mean and SEM as above.
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 2.
mu_0 = 2
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))*2         # Use the same x_mean and SEM as above.
p_value

**Right tail test:**

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 0.
mu_0 = 0
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))           # Use the same x_mean and SEM as above.
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 1.
mu_0 = 1
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))           # Use the same x_mean and SEM as above.
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 2.
mu_0 = 2
p_value = (1-st.t.cdf((x_mean-mu_0)/SEM,df=n-1))           # Use the same x_mean and SEM as above.
p_value

**Left tail test:**

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 0.
mu_0 = 0
p_value = st.t.cdf((x_mean-mu_0)/SEM,df=n-1)              # Use the same x_mean and SEM as above.
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 1.
mu_0 = 1
p_value = st.t.cdf((x_mean-mu_0)/SEM,df=n-1)              # Use the same x_mean and SEM as above.
p_value

In [ ]:
# Using the formula from the lecture.
# Compare the mean with 2.
mu_0 = 2
p_value = st.t.cdf((x_mean-mu_0)/SEM,df=n-1)              # Use the same x_mean and SEM as above.
p_value

#### 1.2. Independent two sample t-test:

In [ ]:
# Simulate two samples x1 and x2 with Normal distribution.
# mu1 = 3, sigma1 = 2, n1= 10.
# mu2 = 5, sigma2 = 3, n2= 20
n1 = 10
n2 = 20
mu1 = 3
mu2 = 5
sigma1 = 2
sigma2 = 3
x1 = np.random.randn(n1)*sigma1 + mu1
x2 = np.random.randn(n2)*sigma2 + mu2

In [ ]:
# Using dirrectly the dataset.
# Assume different variances.
# Two tail test.
st.ttest_ind(x1,x2,equal_var=False)

In [ ]:
# Using the statistic calculated with the dataset.
# Assume different variances.
# Two tail test.
x1_mean = x1.mean()
x2_mean = x2.mean()
s1 = x1.std(ddof=1)
s2 = x2.std(ddof=1)
st.ttest_ind_from_stats(x1_mean,s1,n1,x2_mean,s2,n2,equal_var=False)

#### 1.3. Paired two sample t-test:

In [ ]:
# Simulate two samples with Normal distribution.
# Notice that the x2 is created by adding some 'noise' to the x1.
# So,'one to one' relation is established.
n = 10
x1 = np.random.randn(n)*5 + 3
x2 = x1 + np.random.randn(n)*1 + 1

In [ ]:
# Using the ttest_rel() function from the SciPy library. 
# Two tail test.
st.ttest_rel(x1,x2)

In [ ]:
# Compare with the indepdent two sample t-test on the same dataset. 
# The p-value is completely diffetent!
st.ttest_ind(x1,x2,equal_var=False)

#### 1.4. ANOVA:

There are three groups of students. The data corresponds to the test scores. Determine whether there is any significant difference in the group test scores.

In [ ]:
# Data.
x1 = np.array([82,93,61,74,69,70,53])
x2 = np.array([71,62,85,94,78,66,71])
x3 = np.array([64,73,87,91,56,78,87])

In [ ]:
# Using the f_onway() function from the SciPy library.
res=st.f_oneway(x1,x2,x3)
print("Test statistic  : %f " % res[0] )
print("p-value         : %f " % res[1] )