<a href="https://colab.research.google.com/github/tn-220/SIC-Machine-Learning/blob/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_02_Coding_Exercises/ex_0105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coding Exercise: #0105

### 1. Conditional structure:

In [ ]:
x = input("How old are you? ")
x = int(x)
if x < 8 :
    print( str(x) + " years old... You are a bit too young.")
elif x >=8 and x<19:
    print( str(x) + " years old... You must be a student.")
else:
    print( "You are all grown up!")

In [ ]:
x = input("How much is 2*3? ")
x = int(x)
if x == 2*3 :
    print( "Correct.")
else:
    print( "Incorrect")

In [ ]:
x = input("How much is 2*3? ")
x = int(x)
if x !=2*3 :
    print( "Incorrect")
else:
    print( "Correct.")

In [ ]:
x = input("How much is 2*3? ")
x = int(x)
y = ( x == 2*3)                                         # A Boolean statement.
if y:
    print( "Correct.")
else:
    print( "Incorrect")

### 2. Loop structure:

#### 2.1. For loops:

In [ ]:
sum = 0
for x in range(1, 11):
    sum += x
print("Sum from 1 to 10 = " + str(sum))

In [ ]:
sum = 0
for x in range(2,101,2):
    sum += x
print("Sum of even numbers from 2 to 100 = " + str(sum))

In [ ]:
sum = 0
for x in range(1,101):
    if ( x % 2 ==0):
        sum += x
print("Sum of even numbers between 1 and 100 = " + str(sum))

In [ ]:
sum = 0
for x in range(1,101):
    if ( x % 2 !=0):
        sum += x
print("Sum of odd numbers between 1 and 100 = " + str(sum))

In [ ]:
sum = 0
for x in range(1,101):
    if x % 5 == 0:
        sum += x
print("Sum of multiples of 5 between 1 and 100 = " + str(sum))

In [ ]:
my_list = ['You', 'need', 'Python!']
for x in my_list:
    print(x)

In [ ]:
# Multiplication table.
# A 'for' loop within another.
for i in range(2,10):
    for j in range(2,10):
        print( "%1d * %1d = %2d " % ( i, j, i * j))

#### 2.2. While loops:

In [ ]:
counter = 0
sum = 0
while counter < 11:
    sum += counter
    counter += 1
print("Sum of 1 through 10 = " + str(sum))

In [ ]:
counter = 0
sum = 0
while counter < 1001:
    if counter % 5 == 0:
        sum += counter
    counter += 1
print("Sum of multiples of 5 between 0 and 1000 = " + str(sum))

In [ ]:
# Multiplication table.
# A 'while' loop within another.
i = 1
while i < 9:
    i += 1
    j = 2
    while j < 10:
        print( "%1d * %1d = %2d " % ( i, j, i*j))
        j += 1

In [ ]:
# Multiplication table.
# A 'for' loop within a 'while' loop.
i = 1
while i < 9:
    i += 1
    for j in range(1,10):
        print( "%1d * %1d = %2d " % ( i, j, i*j))
        j += 1